<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em> KeyBooks Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="9d617c">  <td>21/11/02 19:34:19</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseTest.setUp(java.lang.String)[pri:0, instance:selenium.tests.LoginTest@315ba14a]">&gt;&gt;setUp</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@778806426</td>   <td></td> </tr>
<tr bgcolor="9d617c">  <td>21/11/02 19:34:32</td>   <td>13160</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseTest.recordFailure(org.testng.ITestResult)[pri:0, instance:selenium.tests.LoginTest@315ba14a]">&lt;&lt;recordFailure</td> 
<td>&nbsp;</td>  <td>main@778806426</td>   <td></td> </tr>
<tr bgcolor="7a80d6">  <td>21/11/02 19:34:26</td>   <td>6927</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LoginTest.loginTest(java.lang.String,java.lang.String)[pri:0, instance:selenium.tests.LoginTest@315ba14a]">loginTest</td> 
  <td>main@778806426</td>   <td></td> </tr>
<tr bgcolor="9d617c">  <td>21/11/02 19:34:32</td>   <td>13163</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseTest.tearDown()[pri:0, instance:selenium.tests.LoginTest@315ba14a]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@778806426</td>   <td></td> </tr>
</table>
