<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="aaa7c7">  <td>21/11/05 00:28:04</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AudioTest.navigateToPostFormats()[pri:0, instance:selenium.tests.AudioTest@2a54a73f]">navigateToPostFormats</td> 
  <td>main@1707582034</td>   <td></td> </tr>
<tr bgcolor="8a8276">  <td>21/11/05 00:27:59</td>   <td>-4819</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseTest.setUp()[pri:0, instance:selenium.tests.AudioTest@2a54a73f]">&gt;&gt;setUp</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1707582034</td>   <td></td> </tr>
<tr bgcolor="8a8276">  <td>21/11/05 00:28:33</td>   <td>28976</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseTest.tearDown()[pri:0, instance:selenium.tests.AudioTest@2a54a73f]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1707582034</td>   <td></td> </tr>
</table>
